@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 500px;
    min-height: 100vh;
    background: #2f363e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background: #2f363e;
    box-shadow: 15px 25px 75px rgba(0, 0, 0, 0.75),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 450px;
    height: 450px;
    position: relative;
    background: #2f363e;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.clock .dot {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100;
}

.clock span {
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    /* 360 / 12 = 30deg */
    transform: rotate(calc(30deg * var(--i))); 
    
}

.clock span b {
    display: inline-block;
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    transform: rotate(calc(-30deg * var(--i))); 
}

.circle {
    position: absolute;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec {
    width: 300px;
    height: 300px;  
    z-index: 10;
}

.min {
    width: 240px;
    height: 240px;
    z-index: 9;
}

.hour {
    width: 180px;
    height: 180px;
    z-index: 8;
}

.circle::before {
    content: '';
    position: absolute;
    top: -8.5px;
    width: 14px;
    height: 14px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 15px var(--clr),
                0 0 40px var(--clr);
}

.circle i {
    width: 6px;
    height: 50%;
    position: absolute;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.sec i, .min i, .hour i {
    border-radius: 50% 50% 0 0;
}

.sec i {
    width: 4px;
}

/* digital clock */
.time {
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5),
                inset 5px 5px 20px rgba(255,255,255,0.2),
                inset -5px -5px 15px rgba(0,0,0,0.75);
}

.time div {
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

.hours::after, .minutes::after {
    content: ':';
    position: absolute;
    right: -4px;
}

.time .ampm {
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.minutes::after {
    animation: seconds 1s steps(1) infinite;
}

@keyframes seconds {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}